*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
}

/*para resetear las medidas*/
body{
    font-family: Arial, Helvetica, sans-serif;
}

.formContact{
    width: 40%;
    margin: auto;
    margin-top: 100px;
}

.camposForm{
    margin-bottom: 30px;
    display: flex;
    flex-direction: column;

}

div.camposForm>label {
margin-bottom: 10px;
}
.alert {
    background-color: rgb(255, 206, 206);
}
.mensajeAlerta {
    color: rgb(224, 60, 60);
    font-size: 12px;
    margin-top: 5px;
}